.cardBox {
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 0px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.cardBox:hover{
    transform: translate(2vh, -2vh);
    cursor: pointer;
    transition: 0.5s;
}

.cardTitle{
    font-size: 1.5vw;
    color: #15212F;
}