.searchBox {
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 0px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1vw 1vw;
    border-bottom: solid 2px #15212F;
}

.searchBox:hover{
    cursor: pointer;
    transition: 1s;
    background-color: #4FB993;
}

.searchTitle{
    font-size: 1.5vw;
    color: #15212F;
    max-width: 100%;
    display: block;
    overflow-wrap: break-word;
    margin: 0;
}